@font-face {
    font-family: 'Rubik';
    src: url("Rubik-VariableFont_wght.ttf") format("truetype");
}

* {
    margin: 0;
    color: white;
    font-family: 'Rubik';
}
body {
    justify-content: center;
    align-items: center;
}
canvas { background-color: #242424; }
button, .fa { cursor: pointer; }
.flex { display: flex; }
.fa {
    width: 25px;
    filter: invert(1);
}

/* *Enable audio button */
button {
    position: absolute;
    border-radius: 10px;
    display: none;
    border: 0;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.1rem;
}
button a {
    padding: 5px 15px;
    font-size: 1.5rem;
    color: black;
}

/* *Header */
header {
    position: absolute;
    flex-direction: column;
    align-items: center;
    top: 25%;
    animation: slideDown 3s ;
}
header * { font-size: 3vw; }
p#header-desc {
    font-style: italic;
    font-size: 1vw;
    animation: descSlideDown 6s;
    opacity: 0.7;
}
#title h1 {
    background: linear-gradient(
        -135deg,
        #ffffff 0%,
        #ffffff 45%,
        #424242 49%,
        #424242 50%,
        #ffe66d 50%,
        #ffe66d 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: titleGradient 4.5s;
    background-size: 210% 100%;
}

/* *Footer */
footer {
    position: absolute;
    justify-content: space-between;
    width: 100%;
    font-size: 15px;
    bottom: 0;
}
#socials { border-radius: 0 10px 0 0; }
#socials, #copy { background-color: #111111; }
#socials img:hover {
    filter: 
        brightness(0) 
        saturate(100%) 
        invert(80%) 
        sepia(35%) 
        saturate(579%) 
        hue-rotate(350deg) 
        brightness(105%) 
        contrast(105%);
}
footer a {
    padding: 5px;
    display: flex;
    align-items: center;
}
footer a#copy { 
    border-radius: 10px 0 0 0;
    padding: 0 10px; 
}

/* *Keyframes */
@keyframes titleGradient {
    0% { background-size: 100% 650%; }
    50% { background-size: 100% 650%; }
    100% { background-size: 210% 100%; }
}
@keyframes slideDown {
    0% {
        opacity: 0;
        top: -80px;
    }
    100% { top: 25%; }
}
@keyframes descSlideDown {
    0% {
        margin-top: -20px;
        opacity: 0;
    }
    70% {
        margin-top: -20px;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 0.7;
    }
}

/* *Responsiveness */
@media only screen and (max-width: 1500px) {
    button a { font-size: 1em; }
    header * { font-size: 2.7rem; }
    p#header-desc { font-size: 1rem; }
}
@media only screen and (max-width: 600px) {
    header * { font-size: 2rem; }
}